.ui-forms

    button

        margin: 0 1rem 1rem 0



.ui__btn-type
    display: inline-block
    width: 15rem
    margin: 0
    vertical-align: top

    .item
        display: block
        margin: 0


.ui__btn-label
    display: inline-block
    width: 15rem
    margin: 0
    vertical-align: top

    .item
        display: block
        margin: 0 0 1rem
        line-height: $BaseLineHeight*2

