//@font-face
//    font-family: 'HelveticaNeue'
//    src: local('☺')

@import url('https://fonts.googleapis.com/css?family=Open+Sans')


//*
//    +box-sizing()


html,
body
    width: 100%
    //height: 100%
    padding: 0
    margin: 0

html
    font-size: 10px
    height: 100%

body
    font:
        weight: normal
        style: normal
        size: $BaseFontSize
        family: $FontFamily

    line-height: $BaseLineHeight
    color: $color-text
    min-height: 100%
    background: #fff
    overflow: auto
    cursor: default
    //text-rendering: optimizeSpeed        // -> сделает приоритет на максимально быстрый рендеринг. Будут отключены лигатуры и кернинг
    text-rendering: optimizeLegibility  //-> приведет к разрешению использовать лигатуры и кернинг, а также увеличению времени отрисовки текста.
    //text-rendering: optimizeSpeed
    // -> optimizeLegibility + уделяет большее внимание геометрическим пропорциями букв.





.container-app
    min-height: 100%
    padding: 0
    margin: 0
    vertical-align: top


.container
    width: auto
    max-width: 1060px
    padding:
        left: 0
        right: 0
    margin: 0 auto


    +desktop
        padding:
            left: 20px
            right: 20px

    +tablet
        padding:
            left: 20px
            right: 20px
