
/** 
 *  grid-form.css [snippet]
 *  Version: 1.0.0
 *  date modification
 *  ----------------------------------
 */

form
    .hidden
        display: block
        position: relative
        height: 0
        overflow: hidden
        visibility: hidden
        line-height: 0
        font-size: 0








//.form-grid
//    display: block
//
//    .item-row
//        margin-bottom: 20px
//
//    .label-row
//        display: block
//        color: $color-light
//        margin-bottom: 10px
//
//    .field-line
//        width: 100%
//        padding: 0 0 5px
//        border:
//            top: 0 none
//            left: 0 none
//            right: 0 none
//
//    //.sun-info
//    //    margin: 10px 0 0
//    //    color: $color-grey
//
//    .field-textarea
//        width: 100%
//
//    .field-description
//        width: 100%
//
//    [disabled],
//    [readonly]
//        background-color: transparent








.form-grid

    .item-form
        display: block
        margin: 1.5rem 0

    .elem-label
        float: left
        width: 10rem
        padding: $BaseFontSize/2 0
        line-height: $BaseLineHeight

    .indent
        display: block
        margin-left: 10rem
        margin-bottom: 1rem

    .filed
        width: 100%


+gridForm()

+gridSystem()

.show-grid

    +showGrid()


// Group Button

.button-group
    display: table
    list-style: none


    .item
        display: table-cell
        padding: 0 1rem
        vertical-align: middle

        &:first-child
            padding-left: 0

        &:last-child
            padding-right: 0

    .button-cancel,
    .button-primary
        width: 100%

    +mobile

        .button-primary
            white-space: normal
            //word-break: break-all
            word-break: break-word





//.group-form
//
//    display: inline-block
//    white-space: nowrap
//    vertical-align: middle
//
//    .elem
//        padding: 3px 4px
//
//    .elem,
//    .add-on,
//    .button,
//    input,
//    select
//        float: left
//        margin-right: -1px
//        line-height: 20px
//        +round(0)
//
//        &:first-child
//            +round(3px, left)
//
//        &:last-child
//            +round(3px, right)
//
//    &.show-error
//
//        .elem,
//        .add-on,
//        input,
//        select
//            border-color: $warning__color
//            +box-shadow(0 0 7px -2px $warning__color)





.flex-group-form
    display: table
    width: 100%
    white-space: normal
    table-layout: fixed

    //+box-sizing()

    .small,
    .mini,
    .middle,
    .item
        display: table-cell
        padding-right: 4px
        +box-sizing()

        &:last-child
            padding-right: 0

    .item
        width: 1%

    .mini
        width: 25%

    .small
        width: 40%

    .middle
        width: 50%

    //.elem
    //    width: 100%
    //    line-height: 16px



.group-form
    @extend .flex-group-form