.nav
    display: flex
    background: #f4f7f9
    list-style: none
    margin: 0 0 50px 0
    padding: 0
    width: 100%

    &__link
        color: $color-text
        cursor: pointer
        border-bottom: 1px solid transparent
        display: inline-block
        margin-bottom: -1px
        padding: 10px 20px

        &:hover
            background: darken(#f4f7f9, 15%)
            border-bottom: 1px solid $color-light
            color: $color-text
            text-decoration: none

    .active
        .nav__link
            border-bottom-color: $color-text
            color: $color-text
            cursor: default

            &:hover
                background: none

    //Dropdown

    &__item--dropdown
        position: relative

        &:hover
            .nav__sub
                display: block

        &::after
            border-bottom: 1px solid gray
            border-right: 1px solid gray
            content: ""
            display: inline-block
            height: 5px
            margin-top: -3px
            position: absolute
            right: 10px
            transform: rotate(45deg)
            top: 20px
            width: 5px

        .nav__link
            padding: 10px 30px 10px 20px

    &__sub
        background: darken(#f4f7f9, 4%)
        display: none
        list-style: none
        margin-top: 1px
        padding: 0
        position: absolute

    +mobile
        display: block

        &__link
            display: block

        &__sub
            position: relative

