.table
    border: 1px solid $table__color-border
    border-collapse: collapse
    display: table
    width: 100%

.table__header
    background: $table__background-header
    display: table-header-group
    font-weight: bold
    padding: 1rem

.table__row
    display: table-row

.table__cell
    border: 1px solid $table__color-border
    display: table-cell
    padding: 1rem
