@import "../../../assets/less/palette.less";

.TodosPage {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

    .AddTodo, .TodoList {
        min-width: 600px;
        max-width: 900px;
        width: 100%;
        justify-content: center;
        margin: 0 auto;

        .completed {
            text-decoration: line-through !important;
            background: gray;
        }
    }
}