//  Variables.scss
    Variables to customize the look
    -----------------------------------------------------

$mobile-width:  380px
$mobile-xs:     480px
$tablet-width:  769px
$desktop-width: 1024px
$large-desktop: 1280px


$FontFamily : 'Open Sans', sans-serif

//------

// BASE Font
$BaseFontSize   : 1.4rem
$BaseLineHeight : 1.6
//$BaseLineHeight : 1.4286

$text-large  : 1.6rem
$text-middle : 1.4rem
$text-small  : 1.2rem



$Font : ''
$Wallpaper : #fff

//-------------------------------------------------------------------------------
// Colors palette
//-------------------------------------------------------------------------------

$color-red    : #f75c4a
$color-green  : #3fbb23
$color-blue   : #1da9fc
$color-orange : #ff6f00
$color-border : #d4d4d4
$color-light  : #808080
$color-white  : #fff
$color-black  : #000

//Gray
$color-gray: #808080


//-------------------------------------------------------------------------------
// Colors variables
//-------------------------------------------------------------------------------

//  BASE color
$color-text   : #4a4a4a
$color-link   : #1da9fc
$color_link   : #1da9fc

//Navigation
$nav__background: #f4f7f9
$nav__background-sub: #e7edf2
$nav__background-hover: #c3d3de
$nav__color-border: $color-gray
$nav__color-link: $color-text

//Breadcrumbs
$breadcrumbs__color-border: $color-gray

//Pagination
$pagination__background: #f4f7f9
$pagination__background-hover: #c3d3de
$pagination__background-active: $color-gray
$pagination__color-border: #e4ecf0

//Tabs
$tabs__background: #f4f7f9
$tabs__background-hover: #c3d3de
$tabs__background-active: $color-gray
$tabs__background-disabled: $color-white
$tabs__color-border: #e4ecf0
$tabs__color-disabled: $color-gray

//Table
$table__color-border: #e4ecf0
$table__background-header: #f4f7f9

//Thumbnail
$thumbnail-color-border: #e4ecf0

//Popover
$popover__background: #f4f7f9
$popover__color-border: #f4f7f9
$popover__color-shadow: 0 2px 2px 0 rgba(171, 171, 171, 0.8)

//Tooltip
$tooltip__background: #f4f7f9
$tooltip__color-border: #e4ecf0

// Alert
$warning__background : $color-orange
$success__background  : $color-green
$error__background   : $color-red
$info__background    : $color-blue

$warning__color : #686868
$success__color  : #264409
$error__color   : #8a1f11
$info__color    : #514721

// Form
$form__color        : #fff
$form__background   : #fff
$form__border       : #fff
$form__color-border : #efefef
$form__shadow       : rgba(50, 185, 240, 0.1 )
$form__shadow_hover : rgba(50, 185, 240, 0.75)

$color__placeholder  : #d4d4d4

$options__color      : $color-text
$options__background : #fff
$options__border     : $color-border

//BUTTON
$btn__color      : #5e5e5e
$btn__background : #f4f4f4
$btn__hover_background : #eee
$btn__focus_background : #eee

//BUTTON Primary
$btn_primary__color      : #4d4013
$btn_primary__background : #ffc107
$btn_primary__hover_background : #ffa408
$btn_primary__disabled_background : #90c4e6

//BUTTON Danger
$btn_danger__color      : #fff
$btn_danger__background : #ae1917
$btn_danger__hover_background : #c9302c
$btn_danger__focus_background : #c9302c
$btn_danger__disabled_background : #90c4e6




// Grid: default 940px
$gridColumns     : 12
$gridColumnWidth : 60px
$gridGutterWidth : 20px


$container-main__width : 736px

// PATH Images
$PATH      : '../assets/images/'

$PATH_LOGO      : $PATH + 'logo-kijiji.svg'
$PATH_MENU      : $PATH + 'icons/menu.svg'
$PATH_ICONS     : $PATH + 'icons/icons.svg'


@mixin logo
    background-image: url($PATH_logo)
    background-repeat: no-repeat

    +pixel-ratio
        background-image: url($PATH_logo_x2)
        background-size: 195px 40px


//@mixin loader
//    background-image: url($PATH_loader)
//    background-repeat: no-repeat
//
//    +pixel-ratio
//        background-image: url($PATH_loader_x2)
//        background-size: 24px 24px
